# .gitignore
**/.SECRETS**
!**/.SECRETS/.gitkeep

.git/*
!.git/config
!.git/hooks/pre-commit
!.gitignore
!.gitattributes

**/.tmp.drivedownload**
**/.trash**
**/.stfolder**
**/.DS_Store**
**/Thumbs.db**
**/desktop.ini**
**/$Recycle.Bin**
**/$Temp**

**/.obsidian/**
!**/.obsidian/appearance.json
!**/.obsidian/community-plugins.json
!**/.obsidian/snippets/**
!**/.obsidian/plugins/**

**/.vscode/**
!**/.vscode/settings.json
!**/.vscode/extensions.json
!**/.vscode/tasks.json

**/.idea/**
!**/.idea/.gitignore
!**/.idea/codeStyles/**
!**/.idea/inspectionProfiles/**
!**/.idea/runConfigurations/**
!**/.idea/modules.xml
!**/.idea/misc.xml
!**.iml


**/out/production**
!**/out/production/.gitkeep
**/*.class
**/__pycache__**



**/.SECRETS**
**/.OLDSTUFF**
**/1_MISC**
**/BIGFILES/**
!**/BIGFILES/.gitkeep
**/2_USAGE**
**/4_Business**
**/8_Reality**
**/9_Academics**



TODO.txt
TODO.md
WIP.canvas